@font-face {
  font-family: "Lobster";
  src: url("assets/Lobster-Regular.ttf");
}

body {
  font-family: "Lobster", Arial, sans-serif;
  background-image: url("assets/background.png");
  color: white;
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: hidden;
}

header {
  text-align: center;
  font-size: 1.5rem;
}

header p {
  text-shadow: 0.125rem 0.125rem 0.25rem rgba(0, 0, 0, 0.8);
}

section {
  display: inline-block;
}

section p {
  margin: 0.625rem;
  background-color: #250f0f;
  box-shadow: 0rem 0.25rem 0.5rem rgba(0, 0, 0, 0.4);
  border-radius: 0.5rem;
  padding: 1.25rem;
}

footer {
  text-align: center;
  margin-top: 1.25rem;
}

.snowflake p {
  display: inline-block;
  font-size: 1rem;
  position: absolute;
  opacity: 1;
  animation: fall 10s linear infinite;
}

@keyframes fall {
  0% {
    top: -3.125rem;
    opacity: 1;
  }
  100% {
    top: 100%;
    opacity: 0;
  }
}
